@use 'variables' as *;

.hero {
  margin-top: 52px;
  @include bounds();
  p {
    color: $on-inverse-surface;
    margin-bottom: 24px;
    font-weight: 500;
  }
  h1 {
    font-size: 96px;
    line-height: 100%;
    color: $on-inverse-surface;
    font-weight: 400;
    max-width: 900px;
    strong {
      font-weight: 700;
    }
    b {
      color: $purple;
      font-weight: 700;
    }
    span {
      font-weight: 400;
      color: $on-surface;
    }
  }
  @media only screen and (max-width: $max-mobile-width) {
    h1 {
      font-size: 48px;
    }
  }
  @media only screen and (max-width: 355px ) {
    h1 {
      font-size: 42px;
    }
  }
}
