@use 'variables' as *;
.light-2-wrapper {
  position: relative;
}
.light-2 {
  z-index: -10;
  position: absolute;
  top: -350px;
  height: 2400px;
  width: 100%;
  overflow: hidden;
  @media only screen and (max-width: $max-mobile-width) {
    top: -1050px;
    height: 3800px;
  }
  svg {
    top: 0;
    position: absolute;
    height: 100%;
    z-index: -10;
    width: 1920px;
    left: calc((1920px - 100%) / (-2));

    @media only screen and (min-width: 1640px) {
      width: 100%;
      left: 0;
    }
    @media only screen and (min-width: 1920px) {
      width: 100%;
    }
  }
}
