$grid-width: 1450px;
$wide-light-threshold: 1600px;

.top-light {
  z-index: -1;
  background: linear-gradient(#fff 0%, #fff 80%, #111 80%, #111 100%);
  height: 960px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  &__grid {
    position: absolute;
    bottom: 0;
    opacity: 0.1;
    width: $grid-width;
    left: calc(($grid-width - 100%) / (-2));
    @media only screen and (min-width: $grid-width) {
      width: 100%;
      left: 0;
    }
    @media only screen and (min-width: $wide-light-threshold) {
      display: none;
    }
    //transform: translateX(50%);
  }
  &__light {
    position: absolute;
    width: $grid-width;
    //height: 100%;
    left: calc(($grid-width - 100%) / (-2));
    @media only screen and (min-width: $grid-width) {
      width: 100%;
      left: 0;
    }
    @media only screen and (min-width: $wide-light-threshold) {
      display: none;
    }
  }
  &__light-wide {
    display: none;
    position: absolute;
    height: 100%;

    left: calc((max(1920px, 100vw) - 100%) / (-2));
    @media only screen and (min-width: $wide-light-threshold) {
      display: block;
    }
    @media only screen and (min-width: 1920px) {
      //aspect-ratio: initial;
      width: 100vw;
      height: 960px;
    }
  }
}

